<footer>
	<p>
		&copy; {{ now.Year }} SUSE LLC and contributors. All rights reserved.
		<a href="https://www.suse.com">
			https://www.suse.com
		</a>
	</p>
	<!--
	<div class="project-icons">
		<a href="https://k3s.io" target="blank">
			<img src="/images/icon-k3s.svg" height="20">
		</a>
		<a href="https://harvesterhci.io" target="blank">
			<img src="/images/icon-harvester.svg" height="20">
		</a>
		<a href="https://rancherdesktop.io" target="blank">
			<img src="/images/icon-rancher-desktop.svg" height="20">
		</a>
		<a href="https://epinio.io" target="blank">
			<img src="/images/icon-epinio.svg" height="20">
		</a>
		<a href="https://hypper.io" target="blank">
			<img src="/images/icon-hypper.svg" height="20">
		</a>
	</div>
	-->
</footer>

{{ template "_internal/google_analytics.html" . }}
